:root {
    /* globale CSS-Variablen 
    - für farben,
    - font-size
    - padding,
    - etc.*/
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-color: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }


.bölüm_body {
    font-family: system-ui, sans-serif;
    padding: 0;
    background-color: #ffffff; 
    color: #333333; 
}


.bölüm_header {
    background-color: #ffffff; 
    padding: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #bbb8b8;
}

.bölüm_header_container {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 0.7rem;
}

.bölüm_logo {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    border: 2px solid #333333; 
    margin-top: 0.6rem;
}
.bölüm_login {
    width: 2em;
    height: 2em;
}

.bölüm_eigentum-logo{
    height: 2em;
    width: 2em;
}


.bölüm_page_content {
    max-width: 56.25rem;  
    margin: auto;  
    padding: 0px;
    height: 100%;
}


.bölüm_FAQ {
    text-align: center;
    color: #d2f9c1;
    margin-bottom: 1.2rem;
    padding: 6.25rem; 
    background-image: url(/bilder/FAQ.jpg);
    background-size: cover;
    background-position: left ;
    max-width: 50rem;
}

.bölüm_crumbs{
    background-color: #ffffff;
}


.bölüm_crumbs ol {
    display: flex;
    list-style-type: none; /*Aufzählungsfuntion von ol tag deaktivieren*/
    padding-left: 0;
    
  }
  
  .bölüm_crumb a:after { 
    color: #000;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0.3rem;
  }
  



h3 {
    color: #333333;
    margin-top: 1.875rem;
    font-size: 1.25rem;
}


.bölüm_faq-details {
    background-color: #f9f9f9;
    border: 1px solid #bf9e9e;
    border-radius: 5px;
    padding: 0.625rem;
    margin: 0.625rem;

}

.bölüm_details summary {
    font-weight: bold;
    color: #333333;
    font-size: 18px;
}

details p {
    margin-top: 0.625rem;
    color: #333333;
    font-size: 16px;
}

/* FOOTER */
.bölüm_footer {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    margin-top: 0.625rem;
    color: #666666;
    font-size: 14px;
}

a {
    color: inherit;        /* Blaue highlight ausschalten */
    text-decoration: none; /* Underline Ausschalten */
}

div:has(> blockquote) {
    background-color: #ededed;
    margin: auto;
    padding: 0.625rem;
    border-radius: 5px;
    margin-left: 50%;
  }
  


  blockquote p::before {
    content: "\201C";
  }
  
  blockquote p::after {
    content: "\201D";
  }
  
  blockquote + p {
    text-align: right;
  }

.bölüm_kontak_icon {
    width: 70px;
    height: 70px;
}

.bölüm_icon_container {
    display: block;
}


.bölüm_kontak_unterelement{
    background-color: #d3d3d3;
    padding: 1%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.bölüm_border_kontak{
    background-color: #eeeded;
    padding: 2%;
    margin: 5%;
}

.bölüm_kontakt-text {
    text-align: center;
    background-color: #faffe8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.bölüm_team-titel{
    display: flex;
}

.bölüm_underwater-hockey-team img{
    width: 350px;
    height: auto;
}

.bölüm_team-titel-box{
    background-color: #babbb839;
    padding-left: 5%;
    padding-top: 1%;
    margin-top: 40px;
    margin-bottom: 10%;
}

.bölüm_aside-team{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin-top: 40px;
    margin-bottom: 5%;
    background-color: #fff9ee;
    padding-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid rgb(219, 219, 219);                /* Shadow effect*/
    border-left:3px solid rgb(157, 147, 147);
    border-bottom:5px solid rgb(157, 147, 147);

}

.bölüm_memers-box h1{
    text-decoration: underline;
    padding-bottom: 7%;
}

.bölüm_memers-box img{
    width: 9rem;
    align-self: center;
}


.bölüm_memers{
    display: flex;
    justify-content: center;  /* Align the memers (calass="memer")*/
}

.bölüm_memer{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.bölüm_aside-container{
    display: flex;
    justify-content: space-evenly;
}

#bölüm_aside-login1{
    background-color: #eefff0;
    margin-left: 1rem;
    margin-right: 1rem;

}
#bölüm_aside-login2{
    background-color: #feffee;
    margin-left: 0%;
    margin-right: 0rem;


}

#bölüm_aside-login3{
    background-color: #eef6ff;
    margin-left: 1rem;
    margin-right: 1rem;


}

