:root {
    /* globale CSS-Variablen 
    - für farben,
    - font-size
    - padding,
    - etc.*/
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-color: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }


.bölüm_body {
    font-family: system-ui, sans-serif;
    padding: 0;
    background-color: #ffffff; 
    color: #333333; 
}

/* HEADER */
.bölüm_header {
    background-color: #ffffff; 
    padding: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #bbb8b8;
}

.bölüm_header_container {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.bölüm_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #333333; 
}
.bölüm_login {
    width: 30px;
    height: 30px;
}

/* MAIN CONTENT */
.bölüm_page_content {
    max-width: 900px;  
    margin: auto;  
    padding: 0px;
    height: 100%;
}

/* FAQ HEADER */
.bölüm_FAQ {
    text-align: center;
    color: #ffffff; /* White text for better contrast */
    margin-bottom: 20px;
    padding: 100px 20px; /* Increase padding for better spacing */
    background-image: url(/bilder/FAQ.jpg);
    background-size: cover;
    background-position: left ;
    max-width: 900px;
}
.bölüm_crumbs ol {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    
  }
  
  .bölüm_crumb {
    display: inline-block;
  }
  
  .bölüm_crumb a::after {
    display: inline-block;
    color: #000;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  


/* SECTION HEADINGS */
h3 {
    color: #333333;
    margin-top: 30px;
    font-size: 22px;
}

/* FAQ BOXES */
.bölüm_faq-details {
    background-color: #f9f9f9;
    border: 1px solid #bf9e9e;
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0;

}

.bölüm_details summary {
    font-weight: bold;
    color: #333333;
    font-size: 18px;
}

details p {
    margin-top: 10px;
    color: #333333;
    font-size: 16px;
}

/* FOOTER */
.bölüm_footer {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    color: #666666;
    font-size: 14px;
}

a {
    color: inherit;      /* Blaue highlight ausschalten */
    text-decoration: none; /* Underline Ausschalten */
}

div:has(> blockquote) {
    background-color: #ededed;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    margin-left: 50%;
  }
  


  blockquote p::before {
    content: "\201C";
  }
  
  blockquote p::after {
    content: "\201D";
  }
  
  blockquote + p {
    text-align: right;
  }

  .foot { /* 2. footer ?*/
    margin-top: 60px;
}

.bölüm_kontak_icon {
    width: 70px;
    height: 70px;
}

.icon_container {
    display: block;
}


.bölüm_kontak_unterelement{
    background-color: #d3d3d3;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bölüm_border_kontak{
    background-color: #eeeded;
    padding: 2%;
    margin: 5%;
}

.bölüm_kontakt-text {
    text-align: center;
    background-color: #faffe8;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bölüm_team-titel{
    display: flex;
}

.bölüm_underwater-hockey-team img{
    width: 350px;
    height: auto;
}

.bölüm_team-titel-box{
    background-color: #babbb839;
    padding-left: 5%;
    padding-top: 1%;
    margin-top: 40px;
    margin-bottom: 10%;
}
#aside-team{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    margin-top: 40px;
    margin-bottom: 10%;
}

.bölüm_memers-box h1{
    text-decoration: underline;
    padding-bottom: 7%;
}

.bölüm_memers-box img{
    width: 9rem;
    align-self: center;
}


.bölüm_memers{
    display: flex;
    justify-content: center;  /* Align the memers (calass="memer")*/
}

.bölüm_memer{
    padding-left: 10px;
    padding-right: 10px;
}